.faq {
  background-color: #f5f5f5;
  padding: 64px 32px;
}
.faq-accordion {
  margin: 60px auto;
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.faq-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 120%;
  letter-spacing: -1%;
  text-align: center;
  margin-bottom: 80px;
}

.faq-accordion-item {
  list-style: none;
  width: 100%;
  padding: 20px 24px;
  border-radius: 8px;
  background: #eee9e3;
}

.faq-accordion-header {
  display: flex;
}

.faq-accordion-title {
  margin-right: auto;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 150%;
  letter-spacing: 0%;
}

.faq-accordion-button {
  padding: 0;
  height: 24px;
  width: 24px;
}

.faq-accordion-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: transform 0.3s ease;
  flex-shrink: 0;
}

.faq-accordion-icon--rotated {
  transform: rotate(45deg);
}

.faq-accordion-content {
  display: none;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  letter-spacing: 0%;
}

.faq-accordion-content--visible {
  display: block;
}
