/* styles for the header section */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.header-logo {
    width: 159px;
    height: 68px;
}

.header-nav {
    display: flex;
}

.nav-list {
    display: flex;
    gap: 32px;
}

.burger-btn, .close-btn {
    padding: 12px;
    transition: opacity 0.3s;
}

.modal-menu {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    display: none;
    z-index: 1000;
}

.modal-menu.active {
    display: block;
}

.mobile-menu-modal-container {
    padding: 16px 20px;
    display: flex;
    flex-direction: column;
    align-items: start;


}
@media (min-width: 768px) {
    .mobile-menu-modal-container {
        align-items: center;
    }
}


.mobile-menu-modal-nav {
    margin-top: 24px;
}

.modal-nav-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-size: 14px;
}

.modal-nav-link {
    transition: color 0.3s;
}

.cta-btn-header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 8px 20px;
    background: #88765c;
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
}
.cta-btn-modal {
    margin-top: 64px;
}

@media (max-width: 1440px) {
    .header-nav,
    .header-container .cta-btn-header {
        display: none;
    }

    .burger-btn {
        display: block;
    }
}

@media (min-width: 1441px) {
    .burger-btn {
        display: none;
    }
}