/* COMMON---- */
:root {
  --second-family: 'Open Sans', sans-serif;
  --color-neutral-darkest: #02060a;
  --color-mariner-lighter: #eee9e3;
  --color-mariner-light: #c3b49d;
  --opacity-transparent: rgba(255, 255, 255, 0);
  --opacity-neutral-darkest-5: rgba(2, 6, 10, 0.05);
}

.petlist-main-tag {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
}

.petlist-card-tag {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
}

/* ELEMENTS---- */
.pets-list-section {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.pets-list-titles {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.petlist-titles-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.pet-list-catergories {
  display: flex;
}

.category-btn {
  padding: 6px 12px;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  background-color: #f5f5f5;
}

.pets-list-cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.petlist-pet-card {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 16px;
  background: #eee9e3;
}

.petlist-pet-image {
  border-radius: 8px;
}

.petlist-pet-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.petlist-pet-content-about {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.petlist-pet-breed {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.5;
}

.petlist-pet-meta {
  display: flex;
  gap: 16px;
}

.petlist-pet-meta-item {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.5;
}

.petlist-pet-category {
  font-weight: 600;
  font-size: 10px;
  line-height: 1.5;
  border: 1px solid var(--opacity-transparent);
  background: var(--opacity-neutral-darkest-5);
  border-radius: 100px;
  padding: 4px 10px;
  width: 56px;
  height: 23px;
  color: var(--color-neutral-darkest);
  display: flex;
  justify-content: center;
  align-items: center;
}

.petlist-pet-description {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
}

.pet-more-btn {
  color: var(--color-neutral-darkest);
  border: 1px solid var(--color-neutral-darkest);
  background-color: transparent;
  border-radius: 8px;
  padding: 8px 20px;
  height: 40px;
  box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
    inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
}

.pet-more-btn:hover,
.pet-more-btn:focus {
  border: 1px solid var(--color-neutral-darkest);
  background: var(--color-mariner-light);
}
