@import url('../base.css');
@import url('../animations.css');

/* COMMON---- */
:root {
  --second-family: 'Open Sans', sans-serif;
  --color-neutral-darkest: #02060a;
  --color-mariner-lighter: #eee9e3;
  --color-mariner-light: #c3b49d;
  --opacity-transparent: rgba(255, 255, 255, 0);
  --opacity-neutral-darkest-5: rgba(2, 6, 10, 0.05);
}

.hidden {
  display: none;
}

.petlist-main-tag {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
}

.petlist-card-tag {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
}

/* CONTAINERS---- */
.pets-list-section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 64px;
  padding-bottom: 64px;
}

.pets-list-titles {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.pets-list-categories {
  display: flex;
  flex-wrap: wrap;
  padding: 0 24px;
  justify-content: center;
  align-items: center;
}

.pets-list-cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.petlist-pet-card {
  min-height: 497px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 16px;
  background: #eee9e3;
}

/* ELEMENTS---- */
/* TEXT---- */
.petlist-titles-text {
  text-align: center;
  font-size: 16px;
}

/* CARD---- */
.pet-image {
  height: 245px;
  object-fit: cover;
  object-position: 50% 30%;
  border-radius: 8px;
}

.petlist-pet-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.petlist-pet-content-about {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.petlist-pet-breed {
  font-size: 10px;
}

.petlist-pet-meta {
  display: flex;
  gap: 16px;
}

.petlist-pet-meta-item {
  font-size: 10px;
}

.petlist-pet-description {
  font-size: 12px;
}

.petlist-pet-category {
  font-weight: 600;
  font-size: 10px;
  border: 1px solid var(--opacity-transparent);
  background: var(--opacity-neutral-darkest-5);
  border-radius: 100px;
  padding: 4px 10px;
  height: 26px;
}

.petlist-pet-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

/* CARDS ORDER IN LIST---- */
.pets-list-categories li:nth-child(2) {
  order: 8;
}
.pets-list-categories li:nth-child(3) {
  order: 7;
}
.pets-list-categories li:nth-child(4) {
  order: 4;
}
.pets-list-categories li:nth-child(5) {
  order: 3;
}
.pets-list-categories li:nth-child(6) {
  order: 2;
}
.pets-list-categories li:nth-child(7) {
  order: 5;
}
.pets-list-categories li:nth-child(8) {
  order: 6;
}

/* BUTTONS---- */
.category-btn {
  font-size: 14px;
  color: var(--color-neutral-darkest);
  background-color: transparent;
  border: none;
  padding: 10px 15px;
  width: 100%;
  height: 41px;
  border: 1px solid transparent;
}

.category-btn:hover {
  transform: scale(1.1);
}

.category-btn.active {
  background: var(--color-mariner-lighter);
  border: 1px solid var(--opacity-transparent);
}

.pet-more-btn {
  font-size: 14px;
  color: var(--color-neutral-darkest);
  border: 1px solid var(--color-neutral-darkest);
  background-color: transparent;
  border-radius: 8px;
  height: 40px;
  box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
    inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
  margin-top: auto;
}

.pet-more-btn:hover {
  background: var(--color-mariner-light);
}

.showmore-btn {
  width: 335px;
  margin: 0 auto;
  margin-top: 8px;
  border: 1px solid var(--mariner-dark);
  background-color: var(--mariner-dark);
  color: var(--white);
}

/* PAGINATION---- */
.pagination {
  display: none; /* приховано на мобільних */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 4px;
  width: 368px;
  height: 48px;
  margin: 0 auto;
}

.pagination .tui-prev {
  order: -1;
}

.pagination .tui-first {
  order: 0;
}

.pagination .tui-page {
  order: 1;
}

.pagination .tui-prev,
.pagination .tui-next {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  width: 48px;
  height: 48px;
  background: #EEE9E3;
  border: 1px solid #C3B49D;
  border-radius: 8px;
  cursor: pointer;
}

.pagination .tui-prev:hover,
.pagination .tui-next:hover {
  border-color: #02060A;
}

.pagination .tui-first,
.pagination .tui-last {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  width: 58px;
  height: 48px;
  border: 1px solid #B3B4B5;
  border-radius: 8px;
  font-size: 16px;
  color: #02060A;
  background: transparent;
  cursor: pointer;
}

.pagination .tui-first:hover,
.pagination .tui-last:hover {
  background: var(--color-mariner-light);
}

.pagination .tui-next {
  order: 3;
}

.pagination-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  width: 58px;
  height: 48px;
  border: 1px solid #B3B4B5;
  border-radius: 8px;
  font-size: 16px;
  color: #02060A;
  background: transparent;
  cursor: pointer;
}

.pagination .tui-prev:hover,
.pagination .tui-next:hover,
.pagination-arrow:hover {
  border-color: #02060A;
}

.pagination-page:hover {
  background: var(--color-mariner-light);
}

.pagination-page.active {
  background: var(--color-mariner-lighter);
  border-color: var(--opacity-transparent);
}

.pagination .tui-prev,
.pagination .tui-next,
.pagination-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  width: 48px;
  height: 48px;
  background: #EEE9E3;
  border: 1px solid #C3B49D;
  border-radius: 8px;
  cursor: pointer;
}

.pagination .tui-next use,
.pagination .tui-next.tui-is-disabled use {
  href: "/images/sprite.svg#icon-arrow-forward";
}

.pagination-arrow-icon {
  width: 24px !important;
  height: 24px !important;
  fill: #02060A;
}

.tui-is-disabled,
.pagination-btn.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.pagination-dots {
  width: 16px;
  height: 27px;
  font-size: 18px;
  font-weight: 500;
  color: #02060A;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ADAPTATION---- */

@media only screen and (min-width: 768px) {
  .pets-list-cards {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .pet-image {
    height: 246px;
  }

  .petlist-pet-card {
    width: calc((100% - 32px) / 2);
  }

  /* Показуємо пагінацію з планшета */
  .pagination {
    display: flex;
  }

  /* Ховаємо кнопку "Показати більше" з планшета */
  .showmore-btn {
    display: none;
  }
}

@media only screen and (min-width: 1440px) {
  .pets-list-section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .petlist-main-tag {
    font-size: 48px;
  }

  .petlist-titles-text {
    font-size: 18px;
  }

  .category-btn {
    font-size: 16px;
  }

  .petlist-pet-breed {
    font-size: 12px;
  }

  .petlist-card-tag {
    font-size: 24px;
  }

  .petlist-pet-category {
    font-size: 12px;
  }

  .petlist-pet-meta-item {
    font-size: 12px;
  }

  .petlist-pet-description {
    font-size: 14px;
  }

  .pet-more-btn {
    font-size: 16px;
  }

  .petlist-pet-card {
    width: calc((100% - 64px) / 3);
  }

  .pet-image {
    height: 309px;
  }

  .showmore-btn {
    width: 192px;
  }
}
