<section class="container faq" id="FAQ">
  <h2 class="faq-title">Все, що ви хотіли знати</h2>

  <ul class="faq-accordion">
    <li class="faq-accordion-item">
      <div class="faq-accordion-header">
        <p class="faq-accordion-title">
          Я мрію про пухнастика! Що мені потрібно зробити, щоб забрати хвостика
          додому?
        </p>
        <svg
          class="faq-accordion-icon"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <line
            x1="12"
            y1="5"
            x2="12"
            y2="19"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
          />
          <line
            x1="5"
            y1="12"
            x2="19"
            y2="12"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
      </div>

      <div class="faq-accordion-content">
        <div>
          <p>
            Це чудово, що ви готові подарувати дім одному з наших підопічних! Ми
            дуже раді будемо вам у цьому допомогти. Процес «усиновлення» у нас
            простий та зрозумілий:
          </p>
          <ol>
            <li>
              Обереть друга: Придивіться до наших хвостиків у розділі «Знайди
              друга».
            </li>
            <li>
              Залиште заявку: Якщо відчуєте, що це «ваша» тварина, натисніть
              кнопку «Взяти додому» та заповніть короткої анкету.
            </li>
            <li>
              Поговоріть з куратором: Наш волонтер зателефонує вам, щоб
              познайомитись ближче, розповсти про характер тваринки та
              відповісти на всі ваші питання.
            </li>
            <li>
              Прийдіть знайомитись: Якщо ви ідеально підходите одне одному, ми
              домовимось про зустріч у приютку.
            </li>
            <li>
              Дорога додому: Після знайомства та підписання договору про
              відповідальне утримання, ваш новий друг поде з вами у своє нове,
              щасливе життя!
            </li>
          </ol>
        </div>
      </div>
    </li>
    <li class="faq-accordion-item">
      <div class="faq-accordion-header">
        <p class="faq-accordion-title">
          Як мені найкраще підготувати свій дім та родину до появи хвостика?
        </p>
        <svg
          class="faq-accordion-icon"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <line
            x1="12"
            y1="5"
            x2="12"
            y2="19"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
          />
          <line
            x1="5"
            y1="12"
            x2="19"
            y2="12"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
      </div>

      <div class="faq-accordion-content">
        <div>
          <p>
            Чудове питання, яке показує вашу турботу! Перезид — це завжди
            невеликий стрес для тваринки, але правильна підготовка зробить цей
            процес легким і радісним. Ось кілька пояд:
          </p>
          <ul>
            <li>
              Безпечний простір: Переконайтесь, що на вікнах є сітки, а двері та
              побутова хімія сховані.
            </li>
            <li>
              Особисті речі: Підготуйте для хвостика дві мисочки (для їжі та
              води), ліжанку чи будиночок, лоток з наповнювачем для котика або
              повідець і нашийник для собачки.
            </li>
            <li>
              Сімейна розмова: Обговоріть в родині майбутні обов'язки. Важливо,
              щоб усі були готові до появи нового мешканця.
            </li>
            <li>
              Терпління та любов: Дайте тварині час, щоб звикнути. Не капіте її,
              будьте порош, розмовляйте лагідним голосом — і ваша любов
              творитиме дива!
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="faq-accordion-item">
      <div class="faq-accordion-header">
        <p class="faq-accordion-title">
          Чи можу я бути впевненим, що тварина здорова? Розкажіть про щеплення.
        </p>
        <svg
          class="faq-accordion-icon"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <line
            x1="12"
            y1="5"
            x2="12"
            y2="19"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
          />
          <line
            x1="5"
            y1="12"
            x2="19"
            y2="12"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
      </div>

      <div class="faq-accordion-content">
        <div>
          <p>
            Так, звісно. Здоров'я наших підопічних — наш головний пріоритет.
            Кожна тварина, яка потрапляє до нас, проходить повний огляд у
            ветеринара. Ми гарантуємо, що:
          </p>
          <ul>
            <li>Усі хвостики оброблені від блів та глистів.</li>
            <li>Усі вакциновані комплексною вакциною за віком.</li>
            <li>
              Дорослі тварини (зазвичай від 6-8 місяців)
              стерилізовані/кастровані.
            </li>
          </ul>
          <p>
            Разом із тваринкою ви отримаєте її ветеринарний паспорт з усіма
            відмітками. Якщо у когось є особливі потреби у догляді, ми часто і
            детально про це розповідаємо.
          </p>
        </div>
      </div>
    </li>
    <li class="faq-accordion-item">
      <div class="faq-accordion-header">
        <p class="faq-accordion-title">
          Я дуже хочу допомогти, але поки не готивий до адопції. Чим я можу
          підтримати «Хатинку лапок»?
        </p>
        <svg
          class="faq-accordion-icon"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <line
            x1="12"
            y1="5"
            x2="12"
            y2="19"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
          />
          <line
            x1="5"
            y1="12"
            x2="19"
            y2="12"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
      </div>

      <div class="faq-accordion-content">
        <div>
          <p>
            Дякуємо вам за велике серце та бажання допомогти! Кожна допомога для
            нас безцінна. Навіть якщо ви не можете взяти тварину, ви можете
            стати її ангелом-охоронцем. Ось як:
          </p>
          <ul>
            <li>
              Допомогти фінансово: Ваша пожертва піде на корм, ліки, оплату
              комунальних послуг та зарплату персоналу.
            </li>
            <li>
              Стати волонтером: Нам знадобиться люблячи руки для прогулянок з
              собачками, прибирання та найголовніше, для спілкування з
              тваринками.
            </li>
            <li>
              Подарувати необхідне: Ми завжди раді кормам, ліками, наповнювачам
              для лотків, грішкам, теплим ковдрам.
            </li>
            <li>
              Допомогти інформаційно: Найпростіший, але дуже дієвий спосіб —
              розповідати про нас у соціережах. Можливо, саме ваш репост
              допоможе комусь знайти своїх долю!
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="faq-accordion-item">
      <div class="faq-accordion-header">
        <p class="faq-accordion-title">
          Мені сподобалась одна з ваших тваринок на сайті. Чи можу я прійхати,
          щоб познайомитись з нею особистю?
        </p>
        <svg
          class="faq-accordion-icon"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <line
            x1="12"
            y1="5"
            x2="12"
            y2="19"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
          />
          <line
            x1="5"
            y1="12"
            x2="19"
            y2="12"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
      </div>

      <div class="faq-accordion-content">
        <div>
          <p>
            Авжеж! Ми вірімо, що справжня магія стається лише при особистій
            зустрічі. Щоб знайомство було комфортним і для вас, і для тваринки,
            ми просимо вас сповнити анкету заповнити онлайн-заявку на нашому
            сайті.
          </p>
          <p>
            Після цього з вами зв'яжется куратор тваринки, щоб домовитись про
            зручний час для вашого візиту. Такий підхід дозволяє нам приділіти
            вам максимум уваги та унікнути зайвого стресу для наших підопічних.
            З нетерпінням чекаємо на знайомство!
          </p>
        </div>
      </div>
    </li>
  </ul>
</section>
