<footer class="basement">
  <div class="container container-footer">
    <div class="container-list">
      <nav class="footer-nav">
        <a class="footer-logo" href="../index.html"
          ><svg class="footer-logo-icon" width="" height="129">
            <use href="./images/sprite.svg#icon-logo"></use>
          </svg>
        </a>
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#aboutUs">Про нас</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#petsList">Знайти друга</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#FAQ">Часті запитання</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#successStories">Історії успіху</a>
          </li>
        </ul>
      </nav>
      <ul class="footer-nav-social">
        <li class="footer-social-item">
          <a
            class="footer-social-link"
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer"
            ><svg class="footer-social-icon" width="32" height="32">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a
            class="footer-social-link"
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer"
            ><svg class="footer-social-icon" width="32" height="32">
              <use href="./images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <p class="footer-copyright">
      &copy; 2025 Хатинка лапок. Всі права захищені.
    </p>
  </div>
  <svg class="scroll-to-top" width="48" height="48">
    <use href="./images/sprite.svg#icon-paw"></use>
  </svg>
</footer>
