<!-- html for the header section -->

<header>
    <div class="container header-container">
        <nav class="header-nav">
            <a href="/" class="logo-link">
                <img src="../images/logo.svg" alt="Logo" class="header-logo">
            </a>
            <ul class="nav-list">
                <li class="nav-item "><a href="#petsList" class="nav-link nav-header-link">Знайти друга</a></li>
                <li class="nav-item "><a href="#aboutUs" class="nav-link nav-header-link">Про нас</a></li>
                <li class="nav-item "><a href="#FAQ" class="nav-link nav-header-link">Часті запитання</a></li>
                <li class="nav-item "><a href="#successStories" class="nav-link nav-header-link">Історії успіху</a></li>
            </ul>
        </nav>
            
        <a href="#petsList" class="cta-btn-header">Взяти друга</a>
        
        <button class="burger-btn" data-header-menu-open>
            <svg width="24px" height="24px">
                <use href="../images/sprite.svg#icon-menu"></use>
            </svg>
        </button> 
    </div>

</header>
    <div class="modal-menu" data-menu>
        <div class="container header-container dd">
            <a href="/" class="logo-link">
                <img src="../images/logo.svg" alt="Logo" class="header-logo">
            </a>
            <button class="close-btn" data-header-menu-close>
                <svg width="24px" height="24px">
                    <use href="../images/sprite.svg#icon-close"></use>
                </svg>
            </button>
        </div>
        <div class="container  mobile-menu-modal-container">
            <nav class="mobile-menu-modal-nav">
                <ul class="modal-nav-list">
                    <li class="modal-nav-item"><a href="#petsList" class="modal-nav-link" data-menu-close>Знайти друга</a>
                    </li>
                    <li class="modal-nav-item"><a href="#aboutUs" class="modal-nav-link" data-menu-close>Про нас</a></li>
                    <li class="modal-nav-item"><a href="#FAQ" class="modal-nav-link" data-menu-close>Часті запитання</a>
                    </li>
                    <li class="modal-nav-item"><a href="#successStories" class="modal-nav-link" data-menu-close>Історії
                            успіху</a></li>
                </ul>
            </nav>
            <a href="#petsList" class=" cta-btn-modal" data-menu-close>Взяти друга</a>
        </div>
    </div>