<!-- html for the hero section -->

<section>
  <div class="hero">
    <div class="container hero-container">
      <div class="hero-list">
        <div class="hero-content">
          <h2 class="hero-title">
            Кожне життя має значення. Знайди свого вірного друга
          </h2>
          <p class="hero-text">
            Сотні котиків та собачок у притулку Хатинка Лапок чекають на свою
            родину. Подаруйте їм дім.
          </p>
        </div>
        <a class="hero-button" href="#successStories"> Подивитись історії </a>
      </div>
    </div>
  </div>
</section>
