<section id="petsList">
  <div class="container pets-list-section">
    <div class="pets-list-titles">
      <h2 class="petlist-main-tag">Наші хвостики</h2>
      <p class="petlist-titles-text">Вони дуже чекають на знайомство з вами</p>
    </div>
    <ul class="pets-list-categories js-pet-list-categories"></ul>
    <span class="loader js-loader"></span>
    <ul class="pets-list-cards js-pets-list-cards"></ul>
    <button class="showmore-btn js-showmore-btn" type="button">
      Показати більше
    </button>
  </div>
</section>
