<!-- html for the success stories section -->

 <section id="successStories" class="container success-stories-section">
<h2 class="success-stories-title">Щасливі історії, що надихають</h2>
 <p class="success-stories-subtitle">Ці хвостики вже знайшли свій дім. Ваш майбутній друг теж чекає на вас</p>

<div class="swiper mySwiper success-stories-swiper">
  <div class="swiper-wrapper success-stories-lists"></div>

  <!-- CONTROLS -->
  <div class="success-stories-controls">
    <!-- Pagination (слева) -->
    <div class="swiper-pagination success-stories-swiper-pagination"></div>

    <!-- Arrows -->
    <div class="success-stories-arrows">
      <div class="swiper-button-prev success-stories-button success-stories-button-prev">
        <svg class="success-stories-carousel-arrow">
          <use href="./images/sprite.svg#icon-arrow-back"></use>
        </svg>
      </div>

      <div class="swiper-button-next success-stories-button success-stories-button-next">
        <svg class="success-stories-carousel-arrow">
          <use href="./images/sprite.svg#icon-arrow-forward"></use>
        </svg>
      </div>
    </div>

  </div>
</div>
</section>

