:root {
  font-family: 'IBM Plex Sans', sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  /*Colors*/
  --mariner-lightest: #f6f4f1;
  --mariner-lighter: #eee9e3;
  --mariner-light: #c3b49d;
  --mariner: #c3b49d;
  --mariner-dark: #88765c;
  --mariner-darker: #443b2e;
  --mariner-darkest: #332c22;
  --white: #ffffff;
  --neutral-lightest: #f2f2f2;
  --neutral-lighter: #d9d9da;
  --neutral-light: #b3b4b5;
  --neutral: #808284;
  --neutral-dark: #4d5053;
  --neutral-darker: #1b1e22;
  --neutral-darkest: #02060a;
  --neutral-darkest-5: rgba(2, 6, 10, 0.05);
  --red: #ae0000;
  --modal-bgc: rgba(0, 0, 0, 0.25);
  /*Text sizes*/
  --heading-1-mobile: 40px;
  --heading-1-desktop: 56px;
  --heading-2-mobile: 36px;
  --heading-2-desktop: 48px;
  --heading-3-mobile: 32px;
  --heading-3-desktop: 40px;
  --heading-5-mobile: 20px;
  --heading-5-desktop: 24px;
  --text-large-mobile: 18px;
  --text-large-desktop: 20px;
  --text-medium-mobile: 16px;
  --text-medium-desktop: 18px;
  --text-regular-mobile: 14px;
  --text-regular-desktop: 16px;
  --text-small-mobile: 12px;
  --text-small-desktop: 14px;
  --text-tiny-mobile: 10px;
  --text-tiny-desktop: 12px;

  color: var(--neutral-darkest);
  background-color: var(--mariner-lightest);
  font-size: var(--text-medium-mobile);
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
}

h2 {
  font-size: var(--heading-2-mobile);
  font-weight: 700;
  font-style: Bold;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-align: center;
}

h3 {
  font-size: var(--heading-3-mobile);
  font-weight: 700;
  font-style: Bold;
  line-height: 120%;
  letter-spacing: -0.01em;
}

h4 {
  font-size: var(--text-regular-mobile);
  font-weight: 600;
  font-style: SemiBold;
  line-height: 150%;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: var(--text-regular-mobile);
  transition: 0.2s ease;
  height: 45px;
}

button.dark {
  border: 1px solid var(--mariner-dark);
  background-color: var(--mariner-dark);
  color: var(--white);
  outline: none;
}

button.light {
  border: 1px solid var(--neutral-darkest);
  color: var(--neutral-darkest);
}

button.dark:hover,
button.dark:focus {
  background-color: var(--mariner-lighter);
  color: var(--neutral-darkest);
  outline: none;
}

button.light:hover,
button.light:focus {
  background-color: var(--mariner-light);
}

button:disabled {
  opacity: 30%;
}

.isSpiritButton {
  border: 1px solid var(--neutral-darkest);
  background-color: transparent;
  color: var(--neutral-darkest);
}

.isSpiritButton:hover,
.isSpiritButton:focus {
  border: 1px solid var(--neutral-darkest);
  background: var(--mariner-light);
}

button:active {
  border: 1px solid var(--mariner-dark);
  box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
    inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
  background: var(--mariner-lighter);
}

.isSpiritButton:active {
  border: 1px solid var(--neutral-darkest);
  box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
    inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
  background: var(--mariner-light);
}

button:disabled {
  border: 1px solid var(--mariner-dark);
  background: var(--mariner-dark);
  opacity: 0.3;
}
.isSpiritButton:disabled {
  opacity: 0.3;
}

a {
  color: var(--neutral-darkest);
}

a:hover,
a:focus {
  text-decoration: underline;
}
a:active {
  color: var(--mariner-dark);
}

a:disabled {
  opacity: 0.3;
}

input,
textarea {
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 12px;
  padding: 8px 12px;
  background: rgba(2, 6, 10, 0.05);
  line-height: 1.5;
  color: var(--neutral-darkest);
}

input::placeholder,
textarea::placeholder {
  color: rgba(2, 6, 10, 0.6);
}

input:active,
textarea:active {
  border: 1px solid var(--mariner-dark);
  background: var(--mariner-lighter);
}

input.is-error,
textarea.is-error {
  background: rgba(2, 6, 10, 0.05);
  border: 1px solid var(--red);
  color: var(--red);
}
